.mapcitypickercontainer {
    position: absolute;
    top: 40px;
    left: 60%;
    z-index: 1000;
    width: 330px;
    height: 25px;
}
.mapcitypickerbtn {
    position: absolute;
    right:0px;
    top:0px;
    width:60px;    
}
.mapcitypicker {
    position: absolute;
    left: 0px;
    top: 0px;
    width:270px;
}